<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
    	<% result.forEach(function(customer){ %>
	 <li>
		<%= customer.name %>
	 </li>
 	<% }) %>
    </ul>
    <hr/>
    	<a href="/">Cadastrar novo Cliente<a/>
  </body>
</html>
